@CHARSET "UTF-8"

body {
    color: #333333;
    margin: 0; width: 100%; height: 100%;
    font-family: "Hiragino Kaku Gothic Pro",Meiryo,"MS PGothic",Helvetica,Arial,sans-serif;
}

.wrapper {
	width: 100%;
	height: 100%;
	min-height: 100vh;
  	position: relative;/*←相対位置*/
}

.header {
	width: 100%;
	height: 70px;
	position: fixed;
	background-color: #fff7f7;
	display: flex;
  	justify-content: space-between;
  	align-items: center;
}

.header_left {
	display: flex;
    width: 30%;
    color: #204969;
}

.header h1 {
	margin-left: 20px;
    font-size: 30px;
    color: ＃204969;
}

.header_center {
    width: 40%;
}

.header_right {
	width: 30%;
    color: #204969;
    text-align: right;
}

.content {
    width: 100%;
    height: 100%;
    padding-top: 70px;
    padding-bottom: 100px;
    display: flex;
}

.content_left {
	width: 20%;
	height: 100%;
	position: fixed;
	padding-top: 30px;
	text-align: center;
    background-color: white;
    border-right: 2px solid #eeeeee;
}

.content_left h2 {
	display: inline-block;
	padding-bottom: 5px;
	border-bottom: 2px solid #eeeeee;
}

.content_left ul {
	list-style: disc;
	line-height: 3;
	font-size: 30px;
}

.content_left ul a {
	color: #ffb6b9;
}

.content_left li {
	color: grey;
}

.content_right {
	width: 80%;
	height: 100%;
	padding-top: 30px;
	padding-left: 25%;
	background: white;
}

h2 {
    font-size: 30px;
    margin-bottom: 15px;
    color: #8ac6d1;
}

h3 {
	font-size: 25px;
	color: #feda77;
	margin-bottom: 20px;
}

p {
    margin-top: 15px;
    margin-bottom: 15px;
}

a {
	color: #204969;
    text-decoration: none;
}

table, tr, th, td {
    border: 1px solid #cccccc;
}

table {
	width: 90%;
    table-layout: fixed;
    margin-bottom: 20px;
}

th {
	font-weight: bold;
    padding: 10px 2%;
	height: 30px;
    padding: 10px 2%;
    text-align: center;
    background: #B9EDF8;
}

td {
	height: 80px;
    text-align: center;
}

.details th {
	width: 20%;
}

.reply {
	width: 70%;
}

.reply th{
	background: #fef4a9;
	width: 20%;
}

.result th {
	width: 20%;
}

.language_flag {
	overflow-wrap: break-word;
	width: 10%;
}

.tweet_name {
	white-space: pre-wrap;
	overflow-wrap: break-word;
	width: 12%;
}

.tweet_title {
	width: 40%;
}

.reply_count {
	width: 12%;
}

.like_count {
	width: 8%;
}

.tweet_created_at {
	white-space: pre-wrap;
	overflow-wrap: break-word;
	width: 20%;
}

button {
    font-size: 14px;
    padding: 5px 10px;
}

#flush_success, #flush_error {
	width: 105%;
	padding-top: 68px;
	padding-left: 30px;
    padding-bottom: 28px;
    margin-top: -70px;
    margin-left: -7%;
    margin-bottom: 15px;
}

#flush_success {
    color: #FCFCFC;
    background-color: #39BAE8;
}

#flush_error {
    color: #721c24;
    background-color: #f8d7da;
}



tr.row1 {
        background-color: #f2f2f2;
}
tr.row0 {
        background-color: #FCFCFC;
}

pre {
	white-space: pre-wrap;
	overflow-wrap: break-word;
	font-family: "Hiragino Kaku Gothic Pro",Meiryo,"MS PGothic",Helvetica,Arial,sans-serif;
}

input, textarea {
	padding: 2px;
}

.search {
  width: 100%;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #2C2C2C;
}

.searchButton {
  background: url(../jpg/search.png) no-repeat   center center #00B4CC;
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  text-align: center;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

#footer {
	width:100%;
	height: 70px;
	line-height:70px;
	background-color: #fff7f7;
    text-align: center;
    position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
}